@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 0;
  font-family: "Poppins";
}
ul, li {
  padding: 0;
  list-style-type: none;
}

/* GRID CSS  */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;     /* 3 columns with column2 takes 3fractions  */
  column-gap: 30px;
}
header {
  grid-column: span 3 ;                   /* Header takes the whole 3columns on the top  */
  text-align: center;
  border-bottom: 1px solid rgb(209, 205, 205);
}
nav {
  padding: 30px;
  border-right: 2px solid rgb(209, 205, 205);
}
article {
  padding: 30px;
}
article h2 {
  font-size: 3.5rem;
  max-width: 800px;
}
article img {
  width: 100%;                          /* Image takes up 100percent of the column (3fr) */
}
article p {
  margin-top: 30px;
  line-height: 2em;                       /* paragraph spacing - 2em */
  color: #777;
}
aside {
  padding: 30px;
  border-left: 1px solid #ddd;
}
footer {
  grid-column: span 3;
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 30px;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  nav {
    grid-column: span 3;                  /* make the nav (left categories) take the whole 3 columns */
    border-right: 0;                      /* remove the border */
    border-bottom: 1px solid #ddd;      /* transfer to bottom */
  }
  nav li {
    display: inline-block;                /* make the categories horizontally inline instead of vertical*/
    margin-right: 10px;
  }
  article{
    grid-column: span 2;                  /* make the main article takes the width of 2columns*/
  }
}

/* RESPONSIVE */
@media screen and (max-width: 980px) {
  nav, article, aside {
    grid-column: span 3;             /* make all of  take up whole 3column to make the stack vertically */
  }
  aside{
    border-top: 1px solid #ddd;
  }
  article h2{
    font-size: 2em;                 /* reduce the size of the main article header  */
  }
}
